<div [fxFlex]="100" >
    <mat-card fxFlexFill fxLayoutAlign="center center">
      <h2>Commencez par creer votre premier doodle </h2>
    </mat-card>
 </div><br>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">

    <div [fxFlex]="33.33">
        <!-- <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat> -->
    </div>
    <div [fxFlex]="33.33">
        <app-stat [bgClass]="'success'" [icon]="'supervisor_account'"  [label]="'REUNION DE GROUPE'" [content]="'Trouvez le moment ideal pour vous retrouvez'"></app-stat>
    </div>
    <div [fxFlex]="33.33">
        <!-- <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat> -->
    </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">

</div>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="50" >
        <mat-card >
            <mat-card-header>
                <mat-card-title>Resultats du dernier sondage</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                   ></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div [fxFlex]="50">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Details de la reunion</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <table>
                 <tr>
                   <td><strong>Titre reunion:</strong></td>
                   <td>Reunion cgi</td>
                 </tr>
                 <tr>
                    <td> <strong>Lieu:</strong> </td>
                    <td>Cession cevigne</td>
                 </tr>
                 <tr>
                    <td> <strong>Date:</strong> </td>
                    <td>24/10/20</td>
                 </tr>
                 <tr>
                    <td> <strong>Resume:</strong> </td>
                    <td>Resume Resume Resume Resume Resume Resume
                        Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume
                        Resume Resume Resume Resume Resume Resume
                        Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume</td>
                 </tr>

               </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="50" >
        <mat-card >
            <mat-card-header>
                <mat-card-title>Liste de presences</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <ul>
                 <li>
                   Fabrice Kadio
                 </li>
                 <li>
                    Laurelle Sable
                  </li>
                  <li>
                      Mathieu Kouakou
                    </li>
               </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div [fxFlex]="50">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Liste d'absences</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>
                     Jerome dubois
                    </li>
                    <li>Jean du jardin
                     </li>
                     <li>
                         Yves leboeuf
                       </li>
                  </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>

