
<mat-card>
    <div [fxFlex]="100" >
       <mat-card fxFlexFill fxLayoutAlign="center center">
         <h2>Sondage propose par Fabrice Kadio </h2>
       </mat-card>
    </div>

    <div [fxFlex]="100" >
        <mat-card-header fxFlexFill fxLayoutAlign="center center">
            <mat-card-title>Reunion CGI</mat-card-title>
            <mat-card-subtitle>Cession cevigne</mat-card-subtitle>
          </mat-card-header>
    </div>
    <mat-card-content>

      <table >

            <tbody>
                <mat-divider></mat-divider>
                <tr>
                    <td>

                    </td>

                     <td>
                        Mars
                        24
                        mardi
                        14:00
                        15:00
                     </td>
                     <td>
                         Mars
                         24
                         mardi
                         14:00
                         15:00
                      </td>
                      <td>
                         Mars
                         24
                         mardi
                         14:00
                         15:00
                      </td>
                      <td>
                         Mars
                         24
                         mardi
                         14:00
                         15:00
                      </td>
                      <td>
                          Mars
                          24
                          mardi
                          14:00
                          15:00
                       </td>
                       <td>
                           Mars
                           24
                           mardi
                           14:00
                           15:00
                        </td>
                        <td>
                           Mars
                           24
                           mardi
                           14:00
                           15:00
                        </td>
                        <td>
                           Mars
                           24
                           mardi
                           14:00
                           15:00
                        </td>

                        <td>
                            Mars
                            24
                            mardi
                            14:00
                            15:00
                         </td>
                         <td>
                             Mars
                             24
                             mardi
                             14:00
                             15:00
                          </td>
                          <td>
                             Mars
                             24
                             mardi
                             14:00
                             15:00
                          </td>
                          <td>
                             Mars
                             24
                             mardi
                             14:00
                             15:00
                          </td>
                          <td>
                             Mars
                             24
                             mardi
                             14:00
                             15:00
                          </td>
                          <td>
                              Mars
                              24
                              mardi
                              14:00
                              15:00
                           </td>

                  </tr>
                  <mat-divider></mat-divider>
                  <tr>
                      <td> 3 Participants</td>
                      <td>
                          <mat-icon>check</mat-icon>0

                       </td>
                       <td>
                          <mat-icon>check</mat-icon>0

                       </td>
                       <td>
                          <mat-icon>check</mat-icon>0

                       </td>
                       <td>
                          <mat-icon>check</mat-icon>0

                       </td>
                       <td>
                          <mat-icon>check</mat-icon>0

                        </td>
                        <td>
                            <mat-icon>check</mat-icon>0

                        </td>
                        <td>
                            <mat-icon>check</mat-icon>0

                        </td>
                        <td>
                            <mat-icon>check</mat-icon>0

                         </td>
                         <td>
                            <mat-icon>check</mat-icon>0

                          </td>
                          <td>
                              <mat-icon>check</mat-icon>0

                          </td>
                          <td>
                              <mat-icon>check</mat-icon>0

                          </td>

                          <td>
                              <mat-icon>check</mat-icon>0

                           </td>
                           <td>
                              <mat-icon>check</mat-icon>0

                            </td>
                            <td>
                                <mat-icon>check</mat-icon>0

                            </td>



                    </tr>
                    <mat-divider></mat-divider>
                  <tr>
                    <td> FABRICE KADIO</td>
                    <td>
                        <mat-checkbox></mat-checkbox>

                     </td>
                     <td>
                        <mat-checkbox></mat-checkbox>

                     </td>
                     <td>
                        <mat-checkbox></mat-checkbox>

                     </td>
                     <td>
                        <mat-checkbox></mat-checkbox>

                     </td>
                     <td>
                        <mat-checkbox></mat-checkbox>

                      </td>
                      <td>
                          <mat-checkbox></mat-checkbox>

                      </td>
                      <td>
                          <mat-checkbox></mat-checkbox>

                      </td>
                      <td>
                          <mat-checkbox></mat-checkbox>

                       </td>
                       <td>
                          <mat-checkbox></mat-checkbox>

                        </td>
                        <td>
                            <mat-checkbox></mat-checkbox>

                        </td>
                        <td>
                            <mat-checkbox></mat-checkbox>

                        </td>

                        <td>
                            <mat-checkbox></mat-checkbox>

                         </td>
                         <td>
                            <mat-checkbox></mat-checkbox>

                          </td>
                          <td>
                              <mat-checkbox></mat-checkbox>

                          </td>



                  </tr>
                  <mat-divider></mat-divider>
                  <tr>
                      <td> Orthniel Konan</td>
                      <td>
                          <mat-checkbox></mat-checkbox>

                       </td>
                       <td>
                          <mat-checkbox></mat-checkbox>

                       </td>
                       <td>
                          <mat-checkbox></mat-checkbox>

                       </td>
                       <td>
                          <mat-checkbox></mat-checkbox>

                       </td>
                       <td>
                          <mat-checkbox></mat-checkbox>

                        </td>
                        <td>
                            <mat-checkbox></mat-checkbox>

                        </td>
                        <td>
                            <mat-checkbox></mat-checkbox>

                        </td>
                        <td>
                            <mat-checkbox></mat-checkbox>

                         </td>
                         <td>
                            <mat-checkbox></mat-checkbox>

                          </td>
                          <td>
                              <mat-checkbox></mat-checkbox>

                          </td>
                          <td>
                              <mat-checkbox></mat-checkbox>

                          </td>

                          <td>
                              <mat-checkbox></mat-checkbox>

                           </td>
                           <td>
                              <mat-checkbox></mat-checkbox>

                            </td>
                            <td>
                                <mat-checkbox></mat-checkbox>

                            </td>



                    </tr>
                    <mat-divider></mat-divider>
                    <tr>
                        <td> AWA DOUMBIA</td>
                        <td>
                            <mat-checkbox></mat-checkbox>

                         </td>
                         <td>
                            <mat-checkbox></mat-checkbox>

                         </td>
                         <td>
                            <mat-checkbox></mat-checkbox>

                         </td>
                         <td>
                            <mat-checkbox></mat-checkbox>

                         </td>
                         <td>
                            <mat-checkbox></mat-checkbox>

                          </td>
                          <td>
                              <mat-checkbox></mat-checkbox>

                          </td>
                          <td>
                              <mat-checkbox></mat-checkbox>

                          </td>
                          <td>
                              <mat-checkbox></mat-checkbox>

                           </td>
                           <td>
                              <mat-checkbox></mat-checkbox>

                            </td>
                            <td>
                                <mat-checkbox></mat-checkbox>

                            </td>
                            <td>
                                <mat-checkbox></mat-checkbox>

                            </td>

                            <td>
                                <mat-checkbox></mat-checkbox>

                             </td>
                             <td>
                                <mat-checkbox></mat-checkbox>

                              </td>
                              <td>
                                  <mat-checkbox></mat-checkbox>

                              </td>



                      </tr>
                      <mat-divider></mat-divider>
                      <tr>
                          <td> MATHIEU KOUAKOU</td>
                          <td>
                              <mat-checkbox></mat-checkbox>

                           </td>
                           <td>
                              <mat-checkbox></mat-checkbox>

                           </td>
                           <td>
                              <mat-checkbox></mat-checkbox>

                           </td>
                           <td>
                              <mat-checkbox></mat-checkbox>

                           </td>
                           <td>
                              <mat-checkbox></mat-checkbox>

                            </td>
                            <td>
                                <mat-checkbox></mat-checkbox>

                            </td>
                            <td>
                                <mat-checkbox></mat-checkbox>

                            </td>
                            <td>
                                <mat-checkbox></mat-checkbox>

                             </td>
                             <td>
                                <mat-checkbox></mat-checkbox>

                              </td>
                              <td>
                                  <mat-checkbox></mat-checkbox>

                              </td>
                              <td>
                                  <mat-checkbox></mat-checkbox>

                              </td>

                              <td>
                                  <mat-checkbox></mat-checkbox>

                               </td>
                               <td>
                                  <mat-checkbox></mat-checkbox>

                                </td>
                                <td>
                                    <mat-checkbox></mat-checkbox>

                                </td>



                        </tr>
                        <mat-divider></mat-divider>

                </tbody>
      </table>

    </mat-card-content>
    <mat-card-actions align="start">
                <button mat-raised-button  color="warn"(click)="deleteEvent(event)">Valider le vote</button>
                <button mat-raised-button  color="warn"(click)="deleteEvent(event)">Valider sondage</button>

    </mat-card-actions>

</mat-card>
